html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

header div {
  width: 50%;
  padding: .5em;
  margin: 0;
}

div {
  align-content: center;
  margin-left: 8em;
}

h1 {
  text-align: center;
}

.title {
  font-size: 2rem;
  display: flex;
  font-weight: bold;
  background-color: #d05c2e;
  color: #fff;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0;
}

.title div {
  width: 50%;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.image {
  padding: .5em 0;
  display: flex;
  align-content: center;
  flex-direction: row;
  max-width: 40px;
}

.navigation li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  font-size: 1.125rem;
  border: solid;
  padding: .5em;
  border-color: #a63f38;
  border-width: thin;
  text-decoration: none;
  color: #fff;
}

nav, ul {
  width: 50%;
  margin: 2.84em;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.navigation li:hover {
  background-color: #a63f38;
  color: #fff;
}
