html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  color: #fff;
}

h1 {
  margin: 0;
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5em 0;
}

img {
  width: 40px;
}

.navigation {
  list-style-type: none;
  display: flex;
  text-align: center;
  margin: 0;
  font-size: 1.125rem;
  padding: 0;
  border-top: 2px solid #a63f38;
  border-bottom: 2px solid #a63f38;
  border-width: thin;
}

ul li {
  width: 33.33%;
  border-right: 2px solid #a63f38;
}

ul li:last-child {
  border: none;
}

.navigation a {
  display: block;
  width: 100%;
  padding: .4rem 0;
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  background-color: #a63f38;
  color: #fff;
}
